body {
  background-color: #F6EEC4;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  min-height: calc(100vh - 184px);
}

#calculator {
  width: 100%;
  top: 0;
}

#answer {
  width: 100%;
  position: absolute;
  top: 0;
}

.loading-bar {
  background-color: #F6EEC4;
  border-radius: 8px;
  min-width: 52px;
  padding: 0px 16px;
  position: relative;
  overflow: hidden;
}

.loading-bar:after {
  content: "";
  background-color: #EEDFB1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: inline-block;
  border-radius: 8px;
  z-index: 0;
}

.loading-bar[progress="0%"]:after {
  width: 0%;
}

.loading-bar[progress="10%"]:after {
  width: 10%;
  transition: width 200ms linear;
}

.loading-bar[progress="20%"]:after {
  width: 20%;
  transition: width 200ms linear;
}

.loading-bar[progress="30%"]:after {
  width: 30%;
  transition: width 200ms linear;
}

.loading-bar[progress="40%"]:after {
  width: 40%;
  transition: width 200ms linear;
}

.loading-bar[progress="50%"]:after {
  width: 50%;
  transition: width 200ms linear;
}
.loading-bar[progress="60%"]:after {
  width: 60%;
  transition: width 200ms linear;
}
.loading-bar[progress="70%"]:after {
  width: 70%;
  transition: width 200ms linear;
}
.loading-bar[progress="80%"]:after {
  width: 80%;
  transition: width 200ms linear;
}
.loading-bar[progress="90%"]:after {
  width: 90%;
  transition: width 200ms linear;
}

.loading-bar[progress="100%"]:after {
  width: 100%;
  transition: width 200ms linear;
}

.loading-bar p {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #3F3C30;
}

.loading-bar p em {
  color: #A25402;
  font-weight: 700;
  font-style: normal;
}

.content-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  box-sizing: border-box;
  padding: 32px 16px 16px 16px;
}

form {
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1232px;
  padding: 16px 16px;
  margin: auto;
  box-sizing: border-box;
}

#prefooter {
  padding-top: 16px;
  height: 16px;
  margin-bottom: -2px;
}

footer {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  background-color: #3F3C30;
}

.footer-primary, .footer-secondary {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.footer-primary p {
  color: #F6EEC4;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.footer-primary a, .footer-primary a:visited {
  color: #F6EEC4;
  text-decoration: underline;
}

.footer-primary a:hover, .footer-primary a:focus, .footer-primary a:active {
  color: #FFFFFF;
  text-decoration: none;
}

h1 {
  font-family: 'Bagel Fat One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #A25402;
  padding: 0;
  margin: 0;
  width: 100%;
}

label {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3F3C30;
  margin-bottom: 16px;
  display: inline-block;
}

label em {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #A25402;
}

p {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #3F3C30;
  letter-spacing: -1.5%;
}

p.large-body {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: #3F3C30;
  margin: 0;
}

p.huge-number {
  font-family: 'Bagel Fat One';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  color: #A57207;
  margin: 0 0 8px 0;
}

p.flavor-text {
  font-family: 'Solway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #A25402;
  margin: 64px 0 0 0;
}

.button {
  background-color: #000;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Solway';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  color: #FFFFFF;
  min-height: 52px;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 
  background-color 0.15s,
  color 0.15s,
  border 0.15s;
  display: flex;
  column-gap: 4px;
}

.button.fill-primary {
  background-color: #3F3C30;
  color: #fff;
}

.button.fill-primary:hover, .button.fill-primary:active {
  background-color: #141412;
}

.button.fill-primary:focus-visible {
  background-color: #141412;
  outline: 2px dotted #141412;
}

.button.fill-secondary {
  background-color: #A25402;
  color: #fff;
}

.button.fill-secondary:hover, .button.fill-secondary:active {
  background-color: #743B00;
}

.button.fill-secondary:focus-visible {
  background-color: #743B00;
  outline: 2px dotted #743B00;
}

.button.outline-primary {
  background-color: transparent;
  color: #3F3C30;
}

.button.outline-primary:hover, .button.outline-primary:active {
  color: #A25402;
}

.button.outline-primary:focus-visible {
  color: #A25402;
  border: 2px dotted #A25402;
}

.button.outline-secondary {
  background-color: transparent;
  color: #A25402;
}

.button.outline-secondary:hover, .button.outline-secondary:active {
  color: #3F3C30;
}

.button.outline-secondary:focus-visible {
  color: #3F3C30;
  border: 2px dotted #3F3C30;
}

.green-button {
  background-color: #666666;
  border: none;
  border-radius: 4px;
  font-family: 'Solway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  min-height: 52px;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.number-input {
  display: flex;
  padding-bottom: 64px;
  justify-content: center;
}

.number-input .button {
  width: auto;
  padding: 0px 16px;
}

input[type="number"].quantity {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  font-family: 'Bagel Fat One';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #3F3C30;
  height: 52px;
  width: 100%;
  margin: 0 24px;
  padding: 0;
  box-sizing: border-box;
  background-color: #F6EEC4;
  border: 2px solid transparent;
  border-radius: 8px;
  text-align: center;
  transition: border 0.15s;
}

input[type="number"].quantity:hover, input[type="number"].quantity:active, input[type="number"].quantity:focus {
  border: 2px solid #C79E72;
  outline: none;
}

input[type="number"].quantity::-webkit-inner-spin-button,
input[type="number"].quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#rabbit-container {
  background-color: #FFFADD;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  top: 0;
  max-width: 1200px;
  max-height: 800px;
  left: 0;
  right: 0;
  margin-inline: auto;
  z-index: -1;
  opacity: 0.5;
  border-radius: 24px;
}

#rabbit-container::after {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  content: '';
  background-image: linear-gradient(to right, rgba(255,250,221,100), rgba(255,250,221,0), rgba(255,250,221,0), rgba(255,250,221,0), rgba(255,250,221,0), rgba(255,250,221,100));
  background-size: contain;
}

.rabbit {
  height: 114px;
  width: 156px;
  background-image: url('images/rabbit.svg');
  position: absolute;
  background-repeat: no-repeat;
}

.rabbit:nth-last-child(2n) {
   background-image: url('images/rabbit2.svg');
}

.rabbit:nth-last-child(8n) {
  animation-delay: 200ms;
}

.rabbit:nth-last-child(8n + 1) {
  animation-delay: 400ms;
}

.rabbit:nth-last-child(8n + 2) {
  animation-delay: 600ms;
}

.rabbit:nth-last-child(8n + 3) {
  animation-delay: 800ms;
}

.rabbit:nth-last-child(8n + 4) {
  animation-delay: 1000ms;
}

.rabbit:nth-last-child(8n + 5) {
  animation-delay: 1200ms;
}

.rabbit:nth-last-child(8n + 6) {
  animation-delay: 1400ms;
}

.rabbit:nth-last-child(8n + 7) {
  animation-delay: 1600ms;
}

.rabbit[animation="grounded"]:after {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  content: '';
  background-image: url('images/rabbit-blink.svg');
  background-size: contain;
  animation: blink 10s infinite;
  background-repeat: no-repeat;
  opacity: 0;
}

.rabbit[animation="grounded"]:nth-last-child(2n):after {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  content: '';
  background-image: url('images/rabbit2-blink.svg');
  background-size: contain;
  animation: blink 10s infinite;
  background-repeat: no-repeat;
  opacity: 0;
}

.rabbit[animation="grounded"]:nth-last-child(8n):after {
  animation-delay: 3000ms;
}

.rabbit[animation="grounded"]:nth-last-child(8n + 1):after {
  animation-delay: 6000ms;
}

.rabbit[animation="grounded"]:nth-last-child(8n + 2):after {
  animation-delay: 9000ms;
}

.rabbit[animation="grounded"]:nth-last-child(8n + 3):after {
  animation-delay: 12000ms;
}

.rabbit[animation="grounded"]:nth-last-child(8n + 4):after {
  animation-delay: 15000ms;
}

.rabbit[animation="grounded"]:nth-last-child(8n + 5):after {
  animation-delay: 18000ms;
}

.rabbit[animation="grounded"]:nth-last-child(8n + 6):after {
  animation-delay: 21000ms;
}

.rabbit[animation="grounded"]:nth-last-child(8n + 7):after {
  animation-delay: 24000ms;
}

@keyframes blink {
    0% { opacity: 0;  }
   48% { opacity: 0;  }
   50% { opacity: 1; }
   52% { opacity: 0; }
  100% { opacity: 0;  }
}

.rabbit[animation="falling"] {
  animation: wiggle 2s infinite;
}

.rabbit[animation="bouncing"] {
  animation: bounce 0.2s;
}

.rabbit[animation="grounded"] {
  animation: idle 2s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg);  }
   25% { transform: rotate(-5deg);  }
   50% { transform: rotate(10deg); }
   75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg);  }
}

@keyframes idle {
    0% { transform: scaleY(1) scaleX(1) rotate(0deg);}
   25% { transform: scaleY(1.025) scaleX(1) rotate(0.5deg);}
   50% { transform: scaleY(1) scaleX(1) rotate(0deg);}
   75% { transform: scaleY(1.025) scaleX(1) rotate(-0.5deg);}
  100% { transform: scaleY(1) scaleX(1) rotate(0deg);}
}

@keyframes bounce {
    0% { transform: scaleY(1) scaleX(1);     }
   50% { transform: scaleY(0.8) scaleX(1.2); }
  100% { transform: scaleY(1) scaleX(1);     }
}


.example-rabbit {
  height: 114px;
  width: 156px;
  background-image: url('images/rabbit.svg');
  background-repeat: no-repeat;
  animation: ambient 2s infinite;
}

.example-rabbit:after {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  content: '';
  background-image: url('images/rabbit-blink.svg');
  background-size: contain;
  animation: blink 10s infinite;
  background-repeat: no-repeat;
  opacity: 0;
  transition: transform 0.02s;
}

@keyframes ambient {
    0% { transform: scaleY(1) scaleX(1) rotate(0deg) translateY(0); }
   19% { transform: scaleY(1) scaleX(1) rotate(0deg) translateY(0); }
   21% { transform: scaleY(0.9) scaleX(1.1) rotate(0deg) translateY(0); }
   23% { transform: scaleY(1) scaleX(1) rotate(10deg) translateY(-20%); }
   25% { transform: scaleY(1) scaleX(1) rotate(15deg) translateY(-50%); }
   41% { transform: scaleY(1.05) scaleX(0.96) rotate(0deg) translateY(-70%); }
   46% { transform: scaleY(1) scaleX(1) rotate(-15deg) translateY(-50%); }
   52% { transform: scaleY(1) scaleX(1) rotate(-20deg) translateY(-20%); }
   56% { transform: scaleY(0.9) scaleX(1.1) rotate(-15deg) translateY(0); }
   60% { transform: scaleY(0.8) scaleX(1.2) rotate(0deg) translateY(0); }
   64% { transform: scaleY(1) scaleX(1) rotate(0deg) translateY(0); }
   68% { transform: scaleY(1.05) scaleX(0.95) rotate(0deg) translateY(0); }
   72% { transform: scaleY(1) scaleX(1) rotate(0deg) translateY(0); }
  100% { transform: scaleY(1) scaleX(1) rotate(0deg) translateY(0); }
}
