body {
  background-color: #E0FDF6;
  padding: 0;
  margin: 0;
}

main {
  padding: 72px 24px 36px 24px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: inherit;
  flex-direction: column;
  row-gap: 64px;
}

#calculator {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

form {
}

h1 {
  font-family: 'Bagel Fat One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4BA815;
  padding: 0;
  margin: 0;
}

label {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #5B5B5B;
  margin-bottom: 16px;
  display: inline-block;
}

label em {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  color: #437C22;
}

p {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #5B5B5B;
}

p.large-body {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: #5B5B5B;
  margin: 0;
}

p.huge-number {
  font-family: 'Bagel Fat One';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  color: #4BA815;
  margin: 0 0 8px 0;
}

p.flavor-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #557777;
  margin: 24px 0 0 0;
}

.green-button {
  background-color: #4BA815;
  border: none;
  border-radius: 4px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  min-height: 44px;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.number-input {
  display: flex;
  padding-bottom: 64px;
}

.iterator-button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #A2CACA;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  height: 44px;
  cursor: pointer;
}

input[type="number"].quantity {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #5B5B5B;
  height: 44px;
  width: 100px;
  margin: 0 24px;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0);
  border: none;
  text-align: center;
}

input[type="number"].quantity::-webkit-inner-spin-button,
input[type="number"].quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
